################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/UnityLevelTwo/Assets/Modern UI Pack
